h1 {
	font-size: 72px;
	color: blue;
}

  header {
      text-align: center;
      background: url("http://i.imgur.com/LE6idBN.jpg" title="He&#39;s just this guy, ya know?");
      background-size: cover;
      color: white;
  }